body, html {
	width: 100%;
	margin: 0;
	background-color: #DE87EC;
}

.main-container {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
}

h1 {
	width:100%;
	margin-top: 8%;
	font-size: 8vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family: 'Agency FB';
	letter-spacing: 5px;
	transition: all 1s ease-in;
}

#clock {
	width:100%;
	font-size: 9vw;
	color: white;
	text-align: center;
	font-family: 'roboto';
	margin-top: 2%;
}

@media screen and (max-width: 767px) {
	h1 {
		font-size: 12vw;
		margin-top: 45%;
	}
	.main-container {
		flex-direction: column;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	h1 {
		font-size: 12vw;
		margin-top: 10%;
	}
	.main-container {
		flex-direction: column;
	}
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
	h1 {
		font-size: 20vw;
		margin-top: 12%;
	}
	.main-container {
		flex-direction: row;
		margin-top: 25%;
	}
}